<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <form action="" method="GET">
        <input type="text" hint='Enter Title or Auther'>
            <label for="">Title <input  type="radio" name="title" id="title" ></label>
            <label for=""> Auther <input  type="radio" name="Auther" id="Auther" ></label>            
            <button type="submit"> Search The Google Books API </button>
    </form>
</body>
</html>