<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <% for(let i=0;i<fn.length;i++){ %>
    <h1><%= fn[i].title %></h1>
    <h3><%= fn[i].autherName %></h3>
    <p><%=  fn[i].descreption %></p>
    <img src="<%= fn[i].img %>" alt="" srcset="">
    <% } %>
</body>
</html>