<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="modules.css">
    <link rel="stylesheet" href="state.css">
    <link rel="stylesheet" href="theme.css">
</head>

<body class="bodyClass">
    <header>
        <nav>
            <h1 class="entryPage"> Helllo there</h1>
        </nav>
    </header>
    <div class="anqers"><a href="#">Home</a>
        <a href="">About US</a>
        <a href="/searches/new">Search for a book</a>
    </div>
    <ul>
    </ul>
</body>

</html>