    <button class="ham"></button>
    <nav class="navbar">
      <ul>
        <li><a class="menuLink" href="/">Home</a></li>
        <li><a class="menuLink"href="/searches/new">Search</a></li>
      </ul>
    </nav>
